body {
    background-color:#4765b1;
}

h1 {
    position: relative;
    top: 10px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: auto;
}

h2 {
    position: relative;
    top: 10px;
    color: black;
    z-index: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

marquee{
    position:relative;
    top: 15px;
}

#sfondo{
    background-size: cover;
    width:100%;
    height:100%;
}
#trailer{
    position:relative;
    top: 100px;
}

.topnav a {
    position: center;
    text-align: center;
    padding: 10px;
    background-color: rgba(169,192,252, 0.2);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.topnav {
    text-align:center;
    width: 100%;
    position: relative;
    top: 30px;
    list-style-type: none;
    margin-left: -7px;
    margin-right: -7px;
    padding-left: 7px;
    overflow: hidden;
    background-color: rgba(169,192,252, 0.4);
    /*opacity: 0.4;*/
}

    .topnav a:link {
        color: black;
        
    }

    .topnav a:visited {
    color: #07205f;
     }

    .topnav a:hover {
        background-color: lightblue;
        color: darkslateblue;
    }
    #frase{
        position: relative;
        top: 10px;
    }

    .trama  {
        position: relative;
        top: 60px;
    }
    p {
        background-color: rgb(255, 255, 255, 0.7);
        
    }
   
.dettaglitecnici{
    background-color:#a09c9c;
    position: relative;
    top: 50px;
}
  
.btn {
    cursor: pointer;
background-color: rgba(169,192,252, 0.2);
opacity: 0.8;
position: relative;
top: 40px;
}

footer{
    position: relative;
    bottom: -100px;
    
}
#footer{
    position: relative;
    bottom:  -370px;
}
.myForm {
    background-color: #555;
    color: white;
    position: relative;
    top: 200px;
    left: 15px;
    border: none;
    z-index: 30;
    max-width: 300px;
    padding: 16px 20px;
    background-color: white;
    opacity: 0.8;
    width: 280px;
    z-index: 1;
}
h3{
    color:black;
}

#myForm{
    position: relative;
    top: 70px;
}
#testo{
    background-color:white;
}
